body {
    margin: 0;
    padding: 0;
}

.dl-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.dl-color-legend__labels > div {
    width: 40px;
}

.gdp-info-bubble {
    opacity: 0.75;
    padding: 0 5px;
    pointer-events: none;
}

.gdp-info-bubble .gdp-info-bubble-title {
    font-size: 15px;
    margin-left: 2px;
}

.gdp-info-bubble .gdp-info-bubble-label {
    font-size: 10px;
    opacity: 0.7;
    margin-left: 2px;
}

.gdp-info-bubble .H_ib_close {
    display: none;
}

.gdp-info-bubble .H_ib_body {
    padding: 0;
}

